:root{
  --bg:#0b0f19;
  --card:#0f1724;
  --neon:#00aaff;
  --text:#ffffff;
  --muted:rgba(255,255,255,0.7);
  --glass:rgba(255,255,255,0.05);
  --radius:14px;
}

#cursorTrail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* cursor events pass through */
  z-index: 9999; /* on top of everything */
}


/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--bg);
  font-family: "Poppins", sans-serif;
  color:var(--text);
  scroll-behavior:smooth;
}

/* HERO */
.hero{
  background: linear-gradient(110deg, #000, #001d33, #001a2e);
  padding:90px 30px;
  overflow: hidden;
  text-align:center;
}

.hero h1{
  font-size:3rem;
  text-shadow:0 0 15px var(--neon);
}

.hero p{
  margin-top:10px;
  font-size:1.2rem;
  color:var(--muted);
}



/* FOOTER */
.footer{
  text-align:center;
  padding:30px;
  color:var(--muted);
  border-top:1px solid rgba(255,255,255,0.05);
}
section{
    margin-left: 20px;
    margin-right: 20px;
  min-height:60vh;
  padding:20px 60px;
}


/*scroling animtion*/

/* INITIAL STATE */
.reveal{
  opacity:0;
  transform: translateY(60px) scale(0.98);
  filter: blur(6px);
  transition: all 0.8s ease;
}

/* WHEN VISIBLE */
.reveal.active{
  opacity:1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

/* OPTIONAL BEAUTY */
section h2{
  color:var(--neon);
  font-size:2.2rem;
  margin-bottom:12px;
  text-shadow:0 0 15px rgba(0,170,255,0.4);
}
.reveal.active{
  opacity:1;
  transform:translateY(0) scale(1);
  filter:blur(0);
}
.reveal h4,li,
.reveal p{
  opacity:0;
  transform: translateY(20px);
  transition: .6s ease;
}

.reveal.active h4,li,
.reveal.active p{
  opacity:1;
  transform:translateY(0);
  transition-delay:.15s;
}





.border{

    align-items: center;
    text-align: center;
    width: 100%;
    height: 2px;
}
.border-line{

    align-self: center;
    text-align: center;
    background-color: rgb(152, 152, 152);
    width: 80%;
    height: 2px;

}
h4{
    margin: 20px;
    font-size: 20px;

}
.images{
    align-items: center;
    width: 100%;
    text-align: center;
    display: inline-block;
}
img {

    margin-top: 10px;
    display: inline-block;
    width: 400px;
    border-radius: 10px;
    height: 250px;

}
ul ,p{
    margin-top: 40px;
}




header{
  left:0;right:0;justify-content:space-between;align-items:center;
  transition:all .35s ease;backdrop-filter:blur(10px);
}


.brand-wrapper {
  position: relative;
  display: inline-block;
}


#brand-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* clicks go through */
  z-index: 1;
}

.brand {
  position: relative;
  z-index: 2;
  display: flex;
  font-weight: 700;
  font-size: 30px;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}






@media (max-width:900px){
    section{
    margin-left: 20px;
    margin-right: 20px;
  min-height:60vh;
  padding:20px 20px;
}

    
}